
.App {

  
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 95px;
  padding: 2px 10px;
  
}

.topnav {
  background: linear-gradient(90deg, #6987f2, #4a96f1, #66ccff);
  overflow: hidden;
  width: 100%;
  border-bottom: 1.5px solid #DDe3f3;
}

.topnav #icon {
    display: none;
}

.topnav .btns {
  color: #DDe3f3;    
  float: right;  
  font-size: 20px;
  font-weight: 550;
  line-height: 100px;    
  margin: 0; 
  padding: 0px 50px;
  text-decoration: none;
}

.topnav .btns:hover {

  background-color: #DDe3f3;
  border-radius: 3px;
  color: black;
}

.App-intro {
  font-size: large;
}

.post {
  text-align: center;
  display: inline-block;
  background-color: #DDe3f3;
  border: 1px solid #F6F7FB;
  border-radius: 20px;
  height: 50px;
  margin: 10px 10px;
  width: 30%;
  cursor: pointer;
  color: #143468;
  text-transform: uppercase;
}

.post-text {
  height: 25%;
  background-color: #DDe3f3;
}

.post:hover {
  background-color: #66ccff;
}

.thumb-nail {
  margin-left: 10px;
  border-radius: 15px;
  float: left;
  width: 25%;
  height: 100%;
}

.post-detail {
  color: #143468;
  text-align: center;
  margin-top: 100px;
  display: block;
}
.detail-img {
  border: 2px solid #DDe3f3;
  width: 300px;
  height: 250px;
}
/*@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
